/*******************
 * MIXINS
*******************/

// Layput media queries
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

// Effects
@mixin transition-all($time:.5s){
	-webkit-transition: all $time ease-in-out;
	-moz-transition: all $time ease-in-out;
	-ms-transition: all $time ease-in-out;
	-o-transition: all $time ease-in-out;
	transition: all $time ease-in-out;
}
@mixin fade($time:0.3s){
	-webkit-transition: background-color $time ease-in-out;
	-moz-transition: background-color $time ease-in-out;
	-o-transition: background-color $time ease-in-out;
	-ms-transition: background-color $time ease-in-out;
	transition: background-color $time ease-in-out;
}